@import "@/style/_grid.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--white) !important;
}

body {
  font-family: monospace !important;
  background-color: var(--white);
  font-size: 12px;
  @include respond-to("md") {
    font-size: 1rem;
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
  }

  li {
    list-style-type: none;
  }

  p {
    margin: 0;
  }

  ul {
    padding-right: 1rem;
  }
}
